.title{
  font-size:  28px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
}
.text{
  font-size:  13px;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 2rem;
}
.invalid-feedback{
  font-size: 13px;
}
.form-control{
  border-radius: 60px;
  height: 45px;
  font-size:  14px;
}
.form-control::-webkit-input-placeholder {
  color: #9CA9B5;
  font-size:  14px;
}
.form-label{
  font-size: 14px;
  font-weight: 600;
}
.LoginAppContainer{
  max-width: 1950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  max-height: 1000px;
}
.LoginImageContainer{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  background-image: linear-gradient(90deg, rgba(190,39,192,0.5413515748096114) 0%, rgba(76,9,121,0.8018557764902836) 100%), url('../components/assets/login-background.png');
  border: 1px solid #707070;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.LoginImageContainer img{
  justify-self: flex-start;
}
.LoginContainer{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  height: 100%;
}
.LoginContainer .HeaderLogin{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.LoginContainer .Middle{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 480px;
}
.LoginContainer .Middle form{
  display: flex;
  flex-direction: column;
}
.forgetPassword{
  color: #2294E3;
  cursor: pointer;
}
.buttonForm{
  width: 200px;
  align-self: center;
}
.error{
  color: #dc3545;
  margin-bottom: 1.5rem;
  text-align: center;
}
.displayNo{
  display: none;
}
@media screen and (max-width: 700px) {
  .LoginAppContainer {
    display: flex;
  }
  .LoginImageContainer{
    display: none;
  }
  .LoginContainer{
    width: 100%;
  }
  .LoginContainer .Middle{
    width: 100%;
  }
}